.container {
    display: flex;
    flex-direction: row;
    font-size: calc(8px + 2vmin);
    color: black;
    justify-content: center;
    margin-bottom: 2px;
}
.details {
    background-color: blanchedalmond;
    width: 50%;
    padding: 5px;
}
.imageContainer {
    background-color: blanchedalmond;
    padding: 5px;
}
.image {
    width: 20vmin;
}